@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
	--main-font-color: #333333;
	--second-font-color: #ABABAB;
	--main-background-color: #FFFFFF;
	--second-background-color: #F8F8F8;
	--main-button-background-color: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.hidden {
	display: none !important;
}
.show {
	display: block !important;
}
h1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.4;
	color: var(--main-font-color);
}
h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.4;
	color: var(--second-font-color);
}
input[type=radio] {
	position: relative;
	top: 3px;
	opacity: 0;
	cursor: pointer;
	width: 18px;
	height: 18px;
	margin-right: 13px;
}
input[type=radio] + label {
	position: relative;
	cursor: pointer;
}
input[type=radio] + label::before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top: -1px;
	left: -32px;
	border: 2px solid var(--second-font-color);
	border-radius: 50%;
	cursor: pointer;
}
input[type=radio]:checked + label::before {
	border-color: var(--main-font-color);
	cursor: default;
}
input[type=radio]:checked + label::after {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 4px;
	left: -27px;
	background-color: var(--main-font-color);
	border-radius: 50%;
}
input[type=radio] + label span {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.44;
	color: var(--main-font-color);
}
.container {
	position: relative;
	width: 100vw;
	height: 1194px;
	margin: auto;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
main {
	position: relative;
	max-width: 960px;
	width: 100%;
	background-color: var(--main-background-color);
	padding: 20px 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}
main header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 78px;
	flex: none;
}
main header .favourite-open {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.burger-button-block {
	width: 28px;
	height: 28px;
	background-color: var(--main-font-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	cursor: pointer;
}
.burger-button-block span {
	position: relative;
	width: 14px;
	height: 0;
}
main.open::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
main header .favourite-open .burger-button-block span::before {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 2px;
	background-color: var(--main-background-color);
	border-radius: 2px;
}
main header .favourite-open .burger-button-block span::after {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	top: 2px;
	background-color: var(--main-background-color);
	border-radius: 2px;
}
main .search-block {
	margin-bottom: 40px;
	flex: none;
}
main .search-block p {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.4;
	color: var(--main-font-color);
	margin-bottom: 43px;
}
main .search-block p span {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.37;
	display: block;
}
main ul.search-group > li {
	margin-bottom: 10px;
}
main ul.search-group ul.categories-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px 0 0;
}
main ul.search-group ul.categories-group li button.category-select-button {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 2px;
	color: var(--second-font-color);
	background-color: var(--main-background-color);
	border: 2px solid var(--second-background-color);
	border-radius: 6px;
	margin-right: 10px;
	padding: 4px 13px;
	cursor: pointer;
}
main ul.search-group ul.categories-group li button.category-select-button:first-of-type {
	margin-bottom: 16px;
}
main ul.search-group ul.categories-group button.category-select-button__active {
	background-color: var(--second-background-color) !important;
	color: var(--main-font-color) !important;
}
main button.joke-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.37;
	color: var(--main-background-color);
	background: var(--main-button-background-color);
	padding: 10px 40px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 1px 2px 5px -1px #000000;
	transition: all .1s linear;
}
main button.joke-button:hover {
	transition: all .1s linear;
}
main button.joke-button:active {
	background: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 0%);
	box-shadow: none;
	transition: all .1s linear;
}
main .result-block {
	overflow-y: scroll;
	flex: auto;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
main .result-block::-webkit-scrollbar {
	width: 0;
}
main .result-block-item {
	position: relative;
	background-color: var(--second-background-color);
	border-radius: 20px;
	padding: 47px 20px 20px;
	margin-bottom: 20px;
}
main .result-block-item .icon-heart-block {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 17px;
	cursor: pointer;
}
main .result-block-item .icon-heart-block:hover svg {
	transform: scale(1.2);
}
main .result-block-item .icon-heart-block svg {
	position: relative;
	top: -2px;
}
main .result-block-item .result-block-item_container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
main .result-block-item .result-block-item_container .result-block-item_wrapper {
	max-width: calc(100% - 60px);
	width: 100%;
}
main .result-block-item .icon-message-block {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: var(--main-background-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .result-block-item .icon-message-block svg {
	position: relative;
	top: 2px;
}
main .result-block-item .result-block_id {
	font-weight: 500;
	font-size: 10px;
	line-height: 1.4;
	color: var(--second-font-color);
	padding-bottom: 5px;
}
main .result-block-item .result-block_id a {
	color: #8EA7FF;
}
main .result-block-item .result-block_description footer {
	display: flex;
	flex-direction: column;
}
main .result-block-item .result-block_description p {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.44;
	color: var(--main-font-color);
	padding-bottom: 28px;
}
main .result-block-item .result-block_description span {
	display: inline-block;
	font-weight: 500;
	font-size: 10px;
	line-height: 1.4;
	color: var(--second-font-color);
	margin-bottom: 10px;
}
main .result-block-item .result-block_description span.tag {
	background-color: var(--main-background-color);
	border-radius: 6px;
	padding: 6px 20px;
}
main .result-block-item .result-block_description span.tag a {
	color: var(--main-font-color);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 2px;
}
main .search-input {
	display: block;
	width: 100%;
	border: 2px solid var(--main-font-color);
	border-radius: 10px;
	padding: 10px 15px;
	margin-top: 20px;
}
main .search-input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.37;
	color: var(--second-font-color);
}
/******************************************************/
aside {
	position: absolute;
	top: 0;
	right: -100vw;
	bottom: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	background-color: var(--second-background-color);
	padding: 20px 20px 0;
	transition: right .5s linear;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}
aside.open {
	right: 0;
}
aside.close {
	right: -100vw;
}
aside header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 40px;
	flex: none;
}
aside .burger-button-block span::before {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -1px;
	background-color: var(--main-background-color);
	border-radius: 2px;
	transform: rotateZ(45deg);
}
aside .burger-button-block span::after {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	top: -1px;
	background-color: var(--main-background-color);
	border-radius: 2px;
	transform: rotateZ(-45deg);
}
aside .favourites-block {
	overflow-y: scroll;
	flex: auto;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
aside .favourites-block::-webkit-scrollbar {
	width: 0;
}
aside .favourite-block-item {
	position: relative;
	background-color: var(--main-background-color);
	border: 1px solid var(--second-background-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 47px 20px 20px;
	margin-bottom: 20px;
}
aside .favourite-block-item .icon-heart-block {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
aside .favourite-block-item .icon-heart-block:hover svg {
	transform: scale(1.2);
}
aside .favourite-block-item .favourite-block-item_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
aside .favourite-block-item .favourite-block-item_container .favourite-block-item_wrapper {
	max-width: calc(100% - 60px);
}
aside .favourite-block-item .icon-message-block {
	display: inline-flex;
	width: 40px;
	height: 40px;
	position: relative;
	border-radius: 50%;
	background-color: var(--second-background-color);
	justify-content: center;
	align-items: center;
}
aside .favourite-block-item .icon-message-block svg {
	position: relative;
	top: 2px;
}
aside .favourite-block-item .favourite-block_id {
	font-weight: 500;
	font-size: 10px;
	line-height: 1.4;
	color: var(--second-font-color);
	padding-bottom: 5px;
}
aside .favourite-block-item .favourite-block_id a {
	color: #8EA7FF;
}
aside .favourite-block-item .favourite-block_description p {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.44;
	color: var(--main-font-color);
	padding-bottom: 28px;
}
aside .favourite-block-item .favourite-block_description footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
aside .favourite-block-item .favourite-block_description span {
	display: inline-block;
	font-weight: 500;
	font-size: 10px;
	line-height: 1.4;
	color: var(--second-font-color);
	margin-bottom: 10px;
}
aside .favourite-block-item .favourite-block_description span.tag {
	background-color: var(--second-background-color);
	border-radius: 6px;
	padding: 6px 20px;
}
/************************************************************/
@media (min-width: 992px) {
	input[type=radio]:hover + label::before {
		border-color: var(--main-font-color);
	}
	.container {
		width: 836px;
	}
	main {
		padding: 40px 40px 0;
	}
	main .result-block-item .result-block_description footer {
		flex-direction: row;
		justify-content: space-between;
	}
	aside {
		padding: 40px 40px 0;
		max-width: 480px;
	}
	aside.close {
		right: -480px;
	}
}
@media (min-width: 1440px) {
	.container {
		width: 1440px;
		height: 900px;
		margin: auto;
	}
	main {
		padding: 40px 140px 0;
		max-width: calc(100% - 480px);
	}
	main header .favourite-open {
		display: none;
	}
	aside {
		position: static;
	}
	aside header {
		justify-content: flex-start;
	}
	aside .burger-button-block {
		display: none;
	}
}
